<ion-header >
  <ion-toolbar color="light">
    <ion-title>Nueva Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="medium" >
  <ion-card>
  
    <form [formGroup]="infoNota" (ngSubmit)="crear()">
      <ion-card-header>
        <ion-button id="btnCancelar" routerLink="/home" size="small" fill="clear" color="danger"  >
          <ion-icon  name="close-outline"></ion-icon>
        </ion-button>
          <ion-label>Titulo:</ion-label>
          <ion-input formControlName="titulo"  type="text" placeholder="Nombre de la nota(opcional)"></ion-input>
  
      </ion-card-header>
      <ion-card-content>
        <ion-item color="light">
        <ion-label position="floating">Descripcion</ion-label>
          <ion-textarea formControlName="descripcion" rows="15" ></ion-textarea>
        </ion-item>
      </ion-card-content>
     
      <ion-button type="submit"  expand="block" fill="solid" color="secondary" shape="round">
        Crear
      </ion-button>
    </form>
  </ion-card>
</ion-content>
